html > body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, minmax(6em, 1fr));
  grid-template-rows: auto;
  grid-gap: 2px;
}

header {
  grid-column: 1 / 8;
  padding: 0 20px;
}

.month {
  text-align: center;
}

.month-nav {
  margin: auto;
  text-align: center;
}

.month-spacer {
  grid-column: span 2;
}

.dayname {
  text-align: center;
}

.day {
  background-color: #B9B6B8;
  min-height: 6em;
  text-align: left;
}

.empty {
  background-color: #EBEAEB;
  color: #878287;
}

.currentday {
  background-color: #7BE0D6;
  text-align: left;
}

h4 {
  margin: 0.25em;
}

footer {
  grid-column: 1 / 8;
  padding: 0 20px;
}