html > body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, minmax(4em, 1fr));
  grid-template-rows: auto;
}

header {
  grid-column: 1 / 8;
  padding: 10px;
}

.month {
  text-align: center;
}

.month-spacer {
  grid-column: span 3;
}

.dayname {
  text-align: center;
}

.day {
  min-height: 100px;
  text-align: left;
}

h4 {
  margin: 0.25em;
}

.currentday {
  background-color: #00FF00;
  text-align: left;
}

footer {
  grid-column: 1 / 8;
}